---
import Consejos from '../components/Consejos.astro';
import Layout from '../layouts/Layout.astro';
import ListCard from '../components/ListCard.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Heading from '../components/Heading.astro';
import SearchBar from '../components/SearchBar.astro';
import ButtonFilter from '../components/ButtonFilter.astro';
import Donation from '../components/Donation.astro';
---

<Layout title="Welcome to Luchito.">

<Navbar/>

	<main>
		
		<div class="relative max-w-5xl mx-auto pt-20 sm:pt-24 lg:pt-32">
			<Heading
				title="Welcome to"
				highlighted="Luchito"
				description="Mi biblioteca que puede ayudarte a encontrar herramientas creativas para mejorar tu flujo de trabajo y dar vida a las ideas más rápido."
			/>

		<section class="text-center px-8 my-20 sm:mt-32 md:my-20">
			<Consejos />
		</section>
<!-- 
        <button class="filter-button" data-filter="todos">Todos</button>
        <button class="filter-button" data-filter="Frameworks">Frameworks</button>
        <button class="filter-button" data-filter="Iconos">Iconos</button> -->

        <ButtonFilter/>


		<section class=" px-8 my-20 sm:mt-32 md:my-20">
			<SearchBar/>

		<div class="grid grid-cols-1">
			<ul role="list" class="columns-1 md:columns-2 lg:columns-3 gap-4" id="card-list">
					<ListCard/>
			</ul>
			<div id="no-results" class="mt-2 hidden">
				<div class="p-4 mb-4 text-sm text-center text-blue-800 rounded-lg bg-blue-100 dark:bg-blue-100 dark:text-blue-400" role="alert">
				  <span class="font-medium">F Ameo!</span> No encontramos lo que buscás!
				</div>
		  </div>
		</div>
		</section>


		

	</div>




	</main>
<Donation/>

<Footer/>

 
	<script is:inline>
		function copyLink(button) {
        const link = button.getAttribute('data-link');

        if (link) {
            const dummyInput = document.createElement('input');
            dummyInput.value = link;
            document.body.appendChild(dummyInput);
            dummyInput.select();
            document.execCommand('copy');
            document.body.removeChild(dummyInput);

            // Crear el elemento del toast
            const toast = document.createElement('div');
            toast.id = 'toast-simple';
            toast.className = 'flex items-center bg-green-700 w-full max-w-xs p-4 space-x-4 text-white divide-x divide-gray-200 rounded-lg shadow space-x';
            toast.role = 'alert';
            toast.innerHTML = `
                <div class="text-sm font-normal">🎉 Link copiado con exito!</div>
            `;

            // Agregar el toast al contenedor
            const toastContainer = document.getElementById('toast-container');
            toastContainer.appendChild(toast);

            // Remover el toast después de un tiempo
            setTimeout(() => {
                toastContainer.removeChild(toast);
            }, 5000); // Remover el toast después de 5 segundos
        }
    }

    const cardList = document.getElementById('card-list'); // Obtener la lista de tarjetas
    const searchInput = document.getElementById('default-search'); // Obtener el campo de búsqueda
    const noResultsMessage = document.getElementById('no-results'); 

    searchInput.addEventListener('input', function(event) {
        const searchTerm = event.target.value.toLowerCase(); // Obtener el término de búsqueda en minúsculas
        let hasResults = false;

        // Iterar a través de las tarjetas y mostrar/ocultar según el término de búsqueda
        cardList.querySelectorAll('.link-card').forEach(card => {
            const title = card.querySelector('.card-title').textContent.toLowerCase();
            const body = card.querySelector('.card-body').textContent.toLowerCase();

            if (title.includes(searchTerm) || body.includes(searchTerm)) {
                card.style.display = 'block';
                hasResults = true;
            } else {
                card.style.display = 'none';
            }
        });
        // Mostrar u ocultar el mensaje de no resultados
        if (hasResults) {
        noResultsMessage.style.display = 'none';
    } else {
        noResultsMessage.style.display = 'block';
    }
        
    });

    // Obtener todos los botones de filtro
const filterButtons = document.querySelectorAll('.filter-button');

// Agregar un evento de clic a cada botón de filtro
filterButtons.forEach(button => {
    button.addEventListener('click', function() {
        // Obtener el filtro del botón
        const filter = this.getAttribute('data-filter');

        // Obtener todas las tarjetas
        const cards = document.querySelectorAll('.link-card');

        // Ocultar todas las tarjetas
        cards.forEach(card => {
            card.style.display = 'none';
        });

        // Si el filtro es "Todos", mostrar todas las tarjetas
        if (filter === 'Todos') {
            cards.forEach(card => {
                card.style.display = 'block';
            });
        } else {
            // Mostrar solo las tarjetas que corresponden al filtro
            const filteredCards = document.querySelectorAll(`.link-card[data-category="${filter}"]`);
            filteredCards.forEach(card => {
                card.style.display = 'block';
            });
        }
    });
});


	</script>

	
	
</Layout>

  
