---
import data from '../../db/contenido.json';

let uniqueCategories = data.reduce((unique, item) => {
    return unique.includes(item.category) ? unique : [...unique, item.category];
}, []);


---

<div class="flex gap-2 md:gap-4 items-center md:justify-center py-4 md:py-8 relative w-full snap-x overflow-x-auto scrollbar-hide">

    <button
        type="button"
        data-filter="Todos"
        class= "snap-start filter-button text-gray-900 border border-gray-200 hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center dark:text-white dark:focus:ring-gray-800">
        Todos
    </button>

    {uniqueCategories.map( category => (
        <button
            type="button"
            data-filter={category}
            class= "snap-start  filter-button text-gray-900 border border-gray-200 hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center  dark:text-white dark:focus:ring-gray-800">
            {category}
        </button>
    ))}
    
</div>
