---
import {obtenerFraseAleatoria}  from '../utils.js';
import Copybutton from '../components/Copybutton.astro';


---

		<div class='atropos my-atropos relative'>
			<div class='atropos-scale'>
				<div class='atropos-rotate'>
					<div class={`atropos-inner relative`}>


            <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
              <!-- <img class="w-24 h-24 rounded-full mx-auto" src="/sarah-dayan.jpg" alt="" width="384" height="512"> -->
              <div class="pt-6 text-center space-y-4">
                <blockquote>
                <p class="text-lg font-medium">
                  {obtenerFraseAleatoria().frase}
                </p>
                </blockquote>
                <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-sky-400">
                  {obtenerFraseAleatoria().titulo}
                </div>
                <div class="flex justify-center text-slate-700 dark:text-slate-500">
                  <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white">
                    <span class="flex w-2.5 h-2.5 bg-purple-500 rounded-full mr-1.5 flex-shrink-0"></span>
                    {obtenerFraseAleatoria().categoria}
                  </span>
                </div>
                </figcaption>
              </div>
              </figure>


					</div>
				</div>
			</div>

		</div>
