---
import {obtenerFraseAleatoria}  from '../utils.js';
import frases from '../../db/frases.json';

function shuffleArray(array) {
  const shuffledArray = [...array];
  for (let i = shuffledArray.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [shuffledArray[i], shuffledArray[j]] = [shuffledArray[j], shuffledArray[i]];
  }
  return shuffledArray;
}

const frasesAleatorias = shuffleArray(frases).slice(0, 1);
---

		
    {      
    frasesAleatorias.map(({ categoria, titulo, frase }) => (
      <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
        <div class="pt-6 text-center space-y-4">
          <div class="text-sky-500 dark:text-sky-400">
            <p>{titulo}</p>
          </div>
          <div class="flex justify-center text-slate-700 dark:text-slate-500">
                  <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white">
                    <span class="flex w-2.5 h-2.5 bg-purple-500 rounded-full mr-1.5 flex-shrink-0"></span>
                    {categoria}
                  </span>
                </div>
          <blockquote>
                <p class="text-lg font-medium"> {frase} </p>
          </blockquote>
         </div>

      </figure>
      ))}